<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.awhk.env</string>

    <key>ProgramArguments</key>
    <array>
      <string>${ZSH}</string>
      <string>-l</string>
      <string>${ENV_SH}</string>
    </array>

    <key>StandardOutPath</key>
    <string>${HOME}/Library/Logs/org.awhk.env.log</string>

    <key>StandardErrorPath</key>
    <string>${HOME}/Library/Logs/org.awhk.env.log</string>

    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
